<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.sys.dao.SysRoleDao">
	<select id="findPageObjects" resultType="com.db.sys.entity.SysRole">
		select * from sys_roles
		<include refid="queryWhereId"></include>
		order by createdTime desc
		limit #{startIndex},#{pageSize}
	</select>
	<select id="getRowCount" resultType="int">
		select count(*)
		from sys_roles
		<include refid="queryWhereId"></include>
	</select>
	<!-- 借助此元素对共性数据进行提取 -->
	<sql id="queryWhereId">
		<where>
			<if test="name!=null and name!=''">
				name like concat("%",#{name},"%")
			</if>
		</where>
	</sql>
	<!-- 基于输入信息创建角色 -->
	<insert id="insertObject" parameterType="com.db.sys.entity.SysRole"
				useGeneratedKeys="true" keyProperty="id">
		insert into sys_roles 
         (id,name,note,createdTime,modifiedTime,
         createdUser,modifiedUser) 
         values
         (null,#{name},#{note},now(),now(),
         #{createdUser},#{modifiedUser})
		
	</insert>
	<!-- 基于id删除角色信息 -->
	<delete id="deleteObject"
            parameterType="int">
         delete 
         from sys_roles
         where id=#{id}        
    </delete>
    <!-- 基于角色id查询角色表中数据及其所对应的菜单id封装成vo值对象 -->
	<select id="findObjectById" resultMap="SysRoleMenuVo">
		select id,name,note
		from sys_roles
		<where>
			id=#{id}
		</where>
	</select>
	<!-- 关联查询menuIds -->
	<resultMap type="com.db.common.vo.SysRoleMenuVo" id="SysRoleMenuVo">
		<collection property="menuIds" column="id"
		select="com.db.sys.dao.SysRoleMenuDao.findMenuIdsByRoleId">
		</collection>
	</resultMap>
	<update id="updateObject" parameterType="com.db.sys.entity.SysRole">
		update sys_roles
			<set>
            	<if test="name!=null and name!=''">
            	 name=#{name},
            	</if>
            	<if test="note!=null and note!=''">
            	 note=#{note},
            	</if>
            	<if test="modifiedUser!=null and modifiedUser!=''">
            	 modifiedUser=#{modifiedUser},
            	</if>
            	 modifiedTime=now()
           </set>
           where id=#{id}
		
	</update>
	<select id="findObjects" resultType="com.db.common.vo.CheckBox">
		select id,name
        from sys_roles
		
	</select>
</mapper>



