<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.sys.dao.SysIndexDao">

	<select id="getRowCount" resultType="int">
		select count(*) from sys_shangpin
		where youxi_name=#{youxi_name}
	</select>
	
	<select id="findObjectByName" resultType="com.db.sys.entity.SysShangpin">
		select * from sys_shangpin where youxi_name=#{youxi_name}
	</select>
	
</mapper>



